<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        label {
            width: 80px;
            display: block;
            padding: 5px 0;
            float: left;
            clear: left;
            margin-left: 50px;
        }
        button {
            width: 120px;
            height: 40px;
            border-radius: 5px;
            margin-top: 75px;
            margin-left: -55px;
            font-size: large;
            background-color: transparent;
            border: 2px solid #f05a22;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="starter-template">
        <h1>Enter login</h1>
    </div>

    <label >Login:
        <input id="login" name="email" required>
    </label>
    <button id="exit">Exit</button>
</div>
<script>
    $("#exit").click(function (e) {
        const login = $('#login').val();
        $.ajax({
            type: "GET",
            url: "/logout-user",
            data: "email=" + login,
            success: function success() {
                alert("You are logged out of the application.");
                window.location.href = "index.html";
            },
            error: function error(xhr, status, errorThrown) {
                alert("Failed to exit with: " + status + "." + errorThrown);
            }
        });
        e.preventDefault();
    });
</script>
</body>
</html>